[Computers]
desktop_enabled: False
documents_enabled: False
pictures_enabled: False
#folders: %UserProfile%/Music, %UserProfile%/Movies, %UserProfile%/Public
high_quality_enabled: True
always_show_in_photos: True
#usb_sync_enabled: True
#ignore_extensions: ext1, ext2, ext3
# Delete mode can be: ALWAYS_SYNC_DELETES, ASK, NEVER_SYNC_DELETES
delete_mode: ALWAYS_SYNC_DELETES

[MyDrive]
folder: D:\CloudStorages\masbicudo\Google Drive
my_drive_enabled: True

[Settings]
autolaunch: True
show_overlays: True

#[Network]
#download_bandwidth: 100
#upload_bandwidth: 200
#use_direct_connection: False
